:root {
    --black: #2C2C2C;
    --pink: #E80A4D;
    --dark-gray: #909090;
    --pink-hover: #9a0034;
    --light-gray: #EBEBEB;
    --yellow: #F6ED15;
    --blue: #001544;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100vw - 20px);
        padding: 0px 0px 0px 20px;
        height: 70px;
        background-color: black;
        z-index: 3;
        box-shadow: 0px 1px 1px 0px white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .img-container {
                width: 20px;
                height: 20px;
                margin-right: 10px;
                margin-bottom: 3px;
            }

            h3 {
                font-size: 16px;
                color: white;
            }
        }

        .header-right {
            button {
                padding: 10px 20px;
                background-color: black;
                color: var(--pink);
                font-weight: 700;
                border: none;
            }
        }
    }

    .countdown {
        position: fixed;
        top: 70px;
        left: 0;
        width: calc(100vw - 40px);
        padding: 0px 20px;
        height: 50px;
        background-color: var(--pink);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-size: 12px;
                color: white;
                font-weight: 500;
            }

            .content-right {
                display: flex;
                justify-content: flex-end;

                .timer {
                    display: flex;
                    align-items: center;

                    h4 {
                        font-size: 16px;
                        font-weight: 700;
                        margin: 0px 0px 0px 8px;
                        color: white;
                    }

                    p {
                        font-size: 10px;
                        color: white;
                        margin: 0px 0px 0px 4px;
                    }
                }
            }
        }
    }

    .landing {
        width: 100vw;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .landing-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .title {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    margin: 0px;
                }
            }

            input {
                border: 1px solid #CFCFCF;
                width: 230px;
                height: 41px;
                border-radius: 5px;
                font-size: 16px;
                line-height: 28px;
                padding: 0px 10px;
                margin-bottom: 20px;
                display: block;
                background-color: black;
                color: white;
            }

            input::placeholder {
                font-style: italic;
            }

            .login {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h1 {
                    color: white;
                    font-size: 32px;
                }

                button {
                    width: 250px;
                    height: 50px;
                    border-radius: 25px;
                    padding: 10px 0px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 21.78px;
                    letter-spacing: 0.05em;
                    cursor: pointer;
                }

                .login-button {
                    border: none;
                    color: white;
                    background-color: var(--pink);
                }

                .login-button:hover {
                    background-color: var(--pink-hover);
                }
            }
        }
    }

    .home {
        width: 100vw;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;



        .desktop-home {
            display: none;
        }

        .mobile-home {

            .home-content::-webkit-scrollbar {
                display: none;
            }

            .home-content {
                height: calc(100dvh - 120px);
                overflow-y: scroll;
                width: calc(100vw - 40px);
                padding: 0px 20px;
                position: absolute;
                top: 120px;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                scrollbar-width: none;
                -ms-overflow-style: none;

                .mobile-header {
                    width: calc(100% - 40px);
                    padding: 20px 20px 0px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .mobile-header-left {
                        width: 49%;
                        display: flex;
                        justify-content: center;

                        button {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--dark-gray);
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                        }

                        .selected {
                            font-weight: 700;
                            color: white;
                            border-bottom: solid 2px white;
                        }
                    }

                    .mobile-header-right {
                        width: 49%;
                        display: flex;
                        justify-content: center;

                        button {
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--dark-gray);
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                        }

                        .selected {
                            font-weight: 700;
                            color: white;
                            border-bottom: solid 2px white;
                        }
                    }
                }

                .ballot-container {
                    width: calc(100% - 40px);
                    background-color: black;
                    border: solid 1px white;
                    margin: 20px 0px 20px 0px;
                    padding: 20px;
                    border-radius: 10px;

                    .user-ballot {
                        width: calc(100% - 20px);
                        padding: 0px 10px 0px 10px;

                        .edit-button-container {
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;

                            button {
                                background-color: black;
                                border: none;
                                font-size: 16px;
                                color: var(--pink);
                                font-weight: 700;
                                cursor: pointer;
                            }

                            button:hover {
                                color: var(--pink-hover);
                            }
                        }

                        .ballot-award:last-child {
                            margin-bottom: 0px;
                        }

                        .ballot-award {
                            margin-bottom: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            .ballot-award-left {
                                width: 50px;
                                height: 80px;
                                overflow: hidden;
                                margin-right: 20px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    /* Ensures the image fills the container while cropping */
                                }
                            }

                            .ballot-award-right {
                                h4 {
                                    font-size: 12px;
                                    font-weight: 900;
                                    margin: 10px 0px 0px 0px;
                                    color: white;
                                }

                                .award-info-bottom {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    margin-top: 5px;

                                    .img-container {
                                        width: 30px;
                                        margin-right: 10px;
                                    }

                                    p {
                                        font-size: 20px;
                                        font-weight: 100;
                                        margin: 0px;
                                        color: white;
                                        font-style: italic;
                                    }
                                }
                            }
                        }
                    }

                    .user-add-ballot {
                        width: calc(100% - 40px);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 20px 20px;
                        text-align: center;

                        h1 {
                            font-size: 18px;
                            color: white;
                            margin: 0px;
                        }

                        p {
                            margin: 20px 0px 0px 0px;
                            color: white;
                            font-size: 14px;

                            span {
                                font-weight: 700;
                            }
                        }

                        button {
                            width: 250px;
                            border-radius: 25px;
                            padding: 10px 0px;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 21.78px;
                            letter-spacing: 0.05em;
                            cursor: pointer;
                            border: none;
                            color: white;
                            background-color: var(--pink);
                            margin-top: 20px;
                        }

                        button:hover {
                            background-color: var(--pink-hover);
                        }
                    }
                }

                .leaderboard-container {
                    width: calc(100% - 40px);
                    background-color: black;
                    border: solid 1px white;
                    margin: 20px 0px 20px 0px;
                    padding: 20px;
                    border-radius: 10px;

                    .leaderboard {

                        h1 {
                            color: white;
                            font-size: 24px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .my-ballot {
        width: 100vw;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .name-popup-container {
            width: 100vw;
            height: 100dvh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: 0.5);
            z-index: 3;
            display: flex;
            align-items: center;
            justify-content: center;

            .name-popup {
                width: calc(100vw - 120px);
                margin: 0px 40px;
                padding: 20px;
                background-color: white;
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;

                .close-out {
                    position: absolute;
                    top: -12px;
                    right: -12px;
                    background-color: white;
                    border-radius: 25px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border: none;
                    box-shadow: 0px 2px 4px 0px #00000040;

                    img {
                        width: 25px;
                    }
                }

                .close-out:hover {
                    background-color: #EBEBEB;
                }

                h1 {
                    font-size: 18px;
                    margin: 10px 0px 0px 0px;
                    text-align: center;
                }

                input {
                    border: 1px solid #CFCFCF;
                    width: 250px;
                    height: 41px;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 28px;
                    padding: 0px 10px;
                    margin: 10px 0px;
                    display: block;

                }

                input::placeholder {
                    font-style: italic;
                }

                button {
                    width: 250px;
                    border-radius: 25px;
                    padding: 10px 10px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 21.78px;
                    letter-spacing: 0.05em;
                    cursor: pointer;
                    border: none;
                    color: white;
                    background-color: var(--pink);
                    margin-top: 10px;
                }

                button:hover {
                    background-color: var(--pink-hover);
                }
            }
        }

        .subheader-fade {
            background: linear-gradient(to bottom, black 0%, transparent 100%);
            z-index: 2;
            position: fixed;
            top: 120px;
            left: 0;
            width: 100vw;
            height: 40px;
        }

        .subheader {
            position: fixed;
            top: 70px;
            left: 0;
            height: 50px;
            width: 100%;
            background-color: black;
            z-index: 2;
            padding: 0px 0px 0px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .back-button {
                background-color: transparent;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 10px;
                width: 100px;
                border: none;

                img {
                    width: 40px;
                }
            }

            .subheader-left {
                display: flex;
                align-items: center;
                width: 100%;

                .progress-container {
                    width: 100%;
                    background-color: var(--dark-gray);
                    height: 5px;

                    .progress-bar {
                        background-color: var(--pink);
                        height: 5px;
                        transition: width 0.3s ease-in-out;
                    }
                }

                p {
                    margin: 0px 0px 0px 20px;
                    color: white;
                }
            }

            .submit-button {
                cursor: pointer;
                background-color: transparent;
                font-size: 16px;
                font-weight: 700;
                color: var(--pink);
                cursor: pointer;
                border: none;
                padding: 10px 20px;
                width: 100px;

            }

            button:hover {
                color: var(--pink-hover);
            }
        }

        .my-ballot-content::-webkit-scrollbar {
            display: none;
        }

        .my-ballot-content {
            height: calc(100dvh - 140px);
            overflow-y: scroll;
            width: calc(100vw - 40px);
            padding: 0px 20px;
            position: absolute;
            top: 120px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            scrollbar-width: none;
            -ms-overflow-style: none;


            .ballot {
                width: 100%;

                .award-item:last-child {
                    margin-bottom: 20px !important;
                }

                .award-item {
                    margin-bottom: 100px;

                    .award-header {
                        margin-bottom: 20px;

                        h1 {
                            font-size: 20px;
                            margin: 40px 0px 10px 0px;
                            color: white;
                        }

                        .hl {
                            width: 100%;
                            height: 1px;
                            border-bottom: solid 3px var(--pink);
                        }
                    }

                    .award-nominees {

                        .nominee-item {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            cursor: pointer;
                            margin-top: 10px;

                            .nominee-item-left {
                                display: flex;
                                align-items: center;

                                .img-container {
                                    width: 60px;
                                    height: 90px;
                                    overflow: hidden;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        /* Ensures the image fills the container while cropping */
                                    }
                                }

                                .nominee-info {
                                    margin-left: 15px;

                                    h4 {
                                        margin: 0px 0px 10px 0px;
                                        font-size: 16px;
                                        color: white;
                                    }

                                    p {
                                        margin: 0px;
                                        font-size: 12px;
                                        color: white;
                                    }
                                }
                            }

                            .nominee-info-right {

                                button {
                                    height: 30px;
                                    width: 30px;
                                    border-radius: 25px;
                                    cursor: pointer;
                                }

                                .selected {
                                    background-color: var(--pink);
                                    border: none;
                                    transition: background-color 0.1s ease;
                                }

                                .unselected {
                                    background-color: black;
                                    border: solid 1px white;
                                    transition: background-color 0.1s ease, border 0.1s ease;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 603px) {
    body {

        .header {

            h3 {
                font-size: 20px;
            }
        }

        .countdown {

            .content {
                display: flex;
                justify-content: center;
                align-items: center;

                h2 {
                    font-size: 20px;
                }

                .content-right {
                    width: 260px;

                    .timer {

                        h4 {
                            margin: 0px 0px 0px 12px;
                            font-size: 20px;
                        }

                        p {
                            margin: 0px 0px 0px 4px;
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    body {

        .home {

            .mobile-home {
                display: none;
            }

            .desktop-home {
                display: block;

                .home-content {
                    height: calc(100dvh - 120px);
                    width: calc(100vw - 40px);
                    padding: 0px 20px;
                    position: absolute;
                    top: 120px;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .fade {
                        width: 100vw;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 60px;
                        background: linear-gradient(to bottom, black 0%, transparent 100%);
                        z-index: 2;
                    }

                    .ballot-container::-webkit-scrollbar {
                        display: none;
                    }

                    .ballot-container {
                        width: calc((100vw - 40px) / 2 - 15px);
                        max-width: 500px;
                        background-color: black;
                        // position: absolute;
                        height: calc(100dvh - 120px);
                        // top: 20px;
                        // left: 20px;
                        overflow-y: scroll;
                        scrollbar-width: none;
                        -ms-overflow-style: none;

                        .ballot-container-header {
                            height: 40px;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            margin-top: 40px;

                            h1 {
                                color: white;
                                margin: 0px;
                                font-size: 24px;
                            }
                        }

                        .user-add-ballot {
                            border: solid 1px white;
                            width: calc(100% - 82px);
                            margin-top: 10px;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 40px 40px;

                            h1 {
                                font-size: 18px;
                                color: white;
                                margin: 0px;
                            }

                            p {
                                margin: 20px 0px 0px 0px;
                                color: white;
                                font-size: 14px;
    
                                span {
                                    font-weight: 700;
                                }
                            }

                            button {
                                width: 250px;
                                border-radius: 25px;
                                padding: 10px 0px;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 21.78px;
                                letter-spacing: 0.05em;
                                cursor: pointer;
                                border: none;
                                color: white;
                                background-color: var(--pink);
                                margin-top: 20px;
                            }
    
                            button:hover {
                                background-color: var(--pink-hover);
                            }
                        }

                        .user-ballot {
                            border: solid 1px white;
                            width: calc(100% - 82px);
                            margin-top: 10px;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 20px 40px 40px 40px;
                            margin-bottom: 40px;

                            .edit-button-container {
                                width: 100%;
                                display: flex;
                                justify-content: flex-end;

                                button {
                                    background-color: black;
                                    border: none;
                                    font-size: 16px;
                                    color: var(--pink);
                                    font-weight: 700;
                                    cursor: pointer;
                                }
    
                                button:hover {
                                    color: var(--pink-hover);
                                }
                            }

                            .ballot-award:last-child {
                                margin-bottom: 0px;
                            }

                            .ballot-award {
                                margin-bottom: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;

                                .ballot-award-left {
                                    width: 50px;
                                    height: 80px;
                                    overflow: hidden;
                                    margin-right: 20px;

                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                        /* Ensures the image fills the container while cropping */
                                    }
                                }

                                .ballot-award-right {
                                    h4 {
                                        font-size: 12px;
                                        font-weight: 900;
                                        margin: 10px 0px 0px 0px;
                                        color: white;
                                    }
    
                                    .award-info-bottom {
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-start;
                                        margin-top: 5px;
    
                                        .img-container {
                                            width: 30px;
                                            margin-right: 10px;
                                        }
    
                                        p {
                                            font-size: 20px;
                                            font-weight: 100;
                                            margin: 0px;
                                            color: white;
                                            font-style: italic;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .leaderboard-container::-webkit-scrollbar {
                        display: none;
                    }

                    .leaderboard-container {
                        width: calc((100vw - 40px) / 2 - 15px);
                        background-color: black;
                        // position: absolute;
                        height: calc(100dvh - 120px);
                        max-width: 500px;
                        margin-left: 80px;
                        overflow-y: scroll;
                        scrollbar-width: none;
                        -ms-overflow-style: none;
                        // top: 20px;
                        // right: 20px;

                        .leaderboard-container-header {
                            height: 40px;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            margin-top: 40px;

                            h1 {
                                color: white;
                                margin: 0px;
                                font-size: 24px;
                            }

                        }

                        .leaderboard-content {
                            border: solid 1px white;
                            width: calc(100% - 82px);
                            margin-top: 10px;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding: 20px 40px 40px 40px;
                            margin-bottom: 40px;

                            h1 {
                                color: white;
                            }

                            .leaderboard-ballot {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                h4 {
                                    font-size: 16px;
                                    color: white;
                                    margin: 0px;
                                }

                                p {
                                    font-size: 16px;
                                    color: white;
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}